
.h1{
    text-align: center;
}

.h2 {
    text-align: left;
    margin-top: 100px;
}

.img1 {
    width: 1350px;
}

#img2 {
    float: right;
    width: 500px;
    margin-right: 80px;
    margin-block-end: 100px;
}

#img3 {
    float: right;
    width: 500px;
}

#aside {
    width: 200px;
}
.div{
    float: left;
    width: 50%;
    font-size: large;
    box-sizing: border-box;
}

#imghistory {
    float: right;
    width: 500px;
    margin-right: 80px;
    margin-block-end: 100px;
}

.aside {
    background: #f0f0f0;
    padding: 20px;
    width: 200px;
    float: left;
    margin-top: 50px;
    margin-right: 50px;
}

.nav {
    float: left;
    font-size: 25px;
    display: block;
    padding: 10px;
    background-color:#f0f0f0;
    margin-right: 20px;

}

.UL {
    list-style-type: none;
}

 .figure {
    margin-left: 300px;
    margin-top: 50px;
 }
