.title {
    text-align: center;
}

.second-head {
    text-align: left;
    margin-top: 50px;
}

.img1 {
    width: 1350px;
}

.img2 {
    display: inline-block;
    width: 35%;
    margin-left: 70px;
    vertical-align: top;
}

.img3 {
    display: inline-block;
    width: 40%;
    vertical-align: top;
}

.aside {
    display:inline-block;
    width: 300px;
    vertical-align: top;
}

.content {
    display: inline-block;
    width: 50%;
    font-size: large;
    margin-left: 70px;
    vertical-align: top;
}

.div1 {
    display: inline-block;
    width: 70%;
    font-size: large;
    vertical-align: top;
}

.section {
    display: inline-block;
    width: 50%; 
    vertical-align: top;
    margin: 0px;
}

.img-aside {
    display: inline-block;
    width: 85%;
    vertical-align: top;
}

.aside {
    background: #f0f0f0;
    display:inline-block;
    width: 25%;
    vertical-align: top;
    padding: 20px;
}

.nav {
    display:inline-block;
    vertical-align: top;
    width: 25%;
    background-color: #f0f0f0;
}

.list {
    list-style-type: none;
}

 .img-price {
    display:inline-block;
    width: 90%;
    padding-left: 20px;
    vertical-align: top;
 }

 .img-history {
    display:inline-block;
    width: 70%;
    margin-left: 50px;
    vertical-align: top;
 }
